@forward 'sass:list';

@use 'throw';
@use 'sass:list';
@use 'sass:math';

@function template($template: ()) {
  // return the same type of list we were given…
  @return join((), (), list.separator($template), list.is-bracketed($template));
}

@function slice(
  $list,
  $start: 1,
  $end: null,
) {
  $new: template($list);
  $default-end: list.length($list) + 1;
  $end: $end or $default-end;

  @if math.abs($end) != $end {
    $end: $default-end + $end;
  }

  @for $i from $start to $end {
    $new: list.append($new, list.nth($list, $i));
  }

  @return $new;
}

@function join-all($lists...) {
  $joined: template(list.nth($lists, 1));

  @each $list in $lists {
    $joined: list.join($joined, $list);
  }

  @return $joined;
}

@function unique($list) {
  $unique: template($list);

  @each $item in $list {
    @if not list.index($unique, $item) {
      $unique: list.append($unique, $item);
    }
  }

  @return $unique;
}
